<template name="notFound">
	<div class="error">
        <div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>
        <h3 class="font-bold">We couldn't find the page..</h3>

        <div class="error-desc">
            Sorry, but the page you are looking for was either not found or does not exist. <br/>
            Try refreshing the page or click the button below to go back to the Homepage.
            <div><br/>
                <!-- <a class=" login-detail-panel-button btn" href="http://vultus.de/"> -->
                <a href="http://vultus.de" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Go back to Homepage</a> <br/><br/>
            </div>
        </div>
    </div>

</template>